#content {
  text-align: center;
  padding-top: 30px;
}
#start {
  font: 50px Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
}
#start a {
  text-decoration: none;
  color: #333;
}

#start a:hover {
  font-size: 60px;
}
